#my-jumbo{
	margin-bottom: 10px;
}

#my-jumbo-header{
	font-size: 20px;
	background-color: #ddd;
	padding: 5px 0px;
	border-radius: 10px 10px 0px 0px;
}

#my-jumbo-body{
	padding-left: 10px;
	background-color: #eee;
	border-radius: 0px 0px 10px 10px;
}