<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h2 class="text-center">Liste de vos paris</h2>
    <div class="list-group"
        *ngFor="let pari of paris; let i = index">
      <button class="list-group-item"
              *ngIf="pari.user === authService.userName"
              (click)="onViewPari(i)"
              [ngStyle]="{'background-color': getColor(pari)}">
        <div class="row">
          <div class="col-xs-6">
            <h3 class="list-group-item-heading">
            {{ pari.match.equipeA.name }} - {{ pari.match.equipeB.name }}
            </h3>
          </div>
          <div class="col-xs-2">
          	<h3 class="list-group-item-heading">{{ pari.scoreA }} - {{ pari.scoreB }}</h3>
          </div>
          <div class="col-xs-4 text-right">
            <span class="list-group-item-text">{{ pari.match.date.toLocaleString('fr-FR', options) }}</span>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>