<div class="row">
  <div class="col-xs-12 text-center">
  	<!--img style="max-width:400px;" *ngIf="book.photo" [src]="book.photo"-->
    <h1 *ngIf="match">{{ match.equipeA.name }} - {{ match.equipeB.name }}</h1>
    <p *ngIf="match">{{ match.date.toLocaleString('fr-FR', options) }}</p>
    <h1 *ngIf="isScoreSet">{{ match.scoreA }} - {{ match.scoreB }}</h1>    
    <h3 *ngIf="pari != null" style="color:blue;">Votre pari actuel : {{ pari.scoreA }} - {{ pari.scoreB }}</h3>
    <button class="btn btn-default" 
            (click)="onPari()"
            *ngIf="!isMatchDatePassed">Parier sur ce match</button>
    <button class="btn btn-default" 
            (click)="onClickSetScore()" 
            *ngIf="!isScoreSet && isMatchDatePassed">Entrer le score du match</button>
    <button class="btn btn-default" (click)="onBack()">Retour</button>
    <app-new-pari *ngIf="pariClicked"></app-new-pari>
    <app-set-match-score *ngIf="setScoreClicked"></app-set-match-score>
    <div *ngFor='let onePari of parisForOneMatch' style="color: green;">
        <h3 *ngIf='onePari.user != this.authService.userName'>Pari de {{ onePari.user }} {{ +onePari.scoreA }} - {{ +onePari.scoreB }}</h3>
    </div>
  </div>
</div>