<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Créez un nouveau match</h2>
    <form [formGroup]="matchForm" (ngSubmit)="onSaveMatch()">
      <div class="form-group">
        <label for="equipeA">equipeA</label>
        <input type="text" id="equipeA"
               class="form-control" formControlName="equipeA">
      </div>
      <div class="form-group">
        <label for="equipeB">equipeB</label>
        <input type="text" id="equipeB"
               class="form-control" formControlName="equipeB">
      </div>
      <div class="form-group">
        <label for="date">date (format aaaa-mm-jjThh:mm:ss)</label>
        <input type="text" id="date"
               class="form-control" formControlName="date">
      </div>
      <div class="form-group">
        <label for="poule">poule</label>
        <input type="text" id="poule"
               class="form-control" formControlName="poule">
      </div>
      <button class="btn btn-success" [disabled]="matchForm.invalid"
            type="submit">Enregistrer
      </button>
    </form>
  </div>
</div>