<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Entrer le score du match</h2>
    <form [formGroup]="setScoreForm" (ngSubmit)="onSaveMatchScore()">
      <div class="form-group">
        <label for="scoreA">ScoreA</label>
        <input type="text" id="scoreA"
               class="form-control" formControlName="scoreA">
      </div>
      <div class="form-group">
        <label for="scoreB">ScoreB</label>
        <input type="text" id="scoreB"
               class="form-control" formControlName="scoreB">
      </div> 
      <button class="btn btn-success" [disabled]="setScoreForm.invalid"
            type="submit">Enregistrer
      </button>
    </form>
  </div>
</div>